<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.3/css/bootstrap.min.css}">
    <script th:src="@{/bootstrap-5.2.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <section th:replace="components/alerts :: alerts"></section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a th:href="@{/listar}" class="btn btn-success my-3">Clientes</a>
            </div>
        </div>

        <form th:action="@{/form}" method="post" th:object="${cliente}" enctype="multipart/form-data">
            
            <div class="row">
                <div class="col">
                    <h1 th:text="${titulo}"></h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div th:object="${cliente}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                  <input th:field="*{nombre}" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                  <small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                </div>
                <div class="col-4">
                  <input th:field="*{apellido}" type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
                  <small class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                </div>
                <div class="col-4">
                  <input th:field="*{email}" type="text" class="form-control" placeholder="Correo" aria-label="Correo">
                  <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="col-4 my-2">
                  <input th:field="*{createdAt}" type="text" class="form-control" placeholder="Fecha de creación" aria-label="Fecha de creación">
                  <small class="text-danger" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></small>
                </div>
                <div class="col-4 my-2">
                  <input  type="file" name="file" class="form-control" placeholder="foto del cliente" aria-label="foto del cliente">
                  <small class="text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></small>
                </div>
                
            </div>
            <div class="row">
                <div class="col-4 my-2">
                    <input type="submit" value="Crear Cliente" class="btn btn-primary">
                  </div>
            </div>
            <!-- <input type="hidden" th:field="*{id}"> SE QUITO PARA USAR SESSIONATTRIBUTES-->
        </form>
    </div>
    
</body>
</html>