<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <div>
        <h1 th:text="${titulo}"></h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>CREATED_AT</th>
                </tr>
                
            </thead>

            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.getId}"></td>
                    <td th:text="${cliente.getNombre}"></td>
                    <td th:text="${cliente.getApellido}"></td>
                    <td th:text="${cliente.getEmail}"></td>
                    <td th:text="${cliente.getCreatedAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>