<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <ul>
       <li><a th:href="@{/params/string(texto='Hola Julio')}">/params/string?texto=Hola Julio</a> </li>
       <li><a th:href="@{/params/string(texto='Quetal Julio')}">/params/string?texto=Quetal Julio</a> </li>
    </ul>
</body>
</html>