<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/main :: head"></head>
<body>
    <header th:replace="layouts/main :: header"></header>

    <div class="container">
        
        <div class="row">
            <div class="col">
                <a class="btn btn-info my-2" th:href="@{/ver/} + ${factura.cliente.getId}">&laquo; volver</a>
            </div>
        </div>

        <form th:action="@{/factura/form}" method="post" th:object="${factura}">
            
            <div class="row">
                <div class="col-12">
                    <h1 th:text="${titulo}"></h1>
                </div>
                <div class="col-12">
                    <h3 th:text="'Nombre del cliente: ' + ${factura.cliente.getNombreCompleto}"></h3>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div th:object="${factura}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                  <input th:field="*{descripcion}" type="text" class="form-control" placeholder="Descripción" aria-label="Descripción">
                  <small class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                </div>
                <div class="col-12 my-2">
                  <textarea th:field="*{observacion}" type="text" class="form-control" placeholder="Observación" aria-label="Observación"></textarea>
                  <small class="text-danger" th:if="${#fields.hasErrors('observacion')}" th:errors="*{observacion}"></small>
                </div>

                <div class="col-12">
                    <input type="text" class="form-control" name="buscar_producto" id="buscar_producto" placeholder="Buscar producto" aria-label="Buscar producto">
                </div>
                
            </div>

            <table th:replace="factura/plantilla-items :: itemsFactura"></table>

            <table id="cargarItemProductos" class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>

            <div class="row">
                <div class="col-4 my-2">
                    <input type="submit" value="Crear Factura" class="btn btn-primary">
                  </div>
            </div>
        </form>
    </div>

    <footer th:replace="layouts/main :: footer"></footer>
    <script th:replace="factura/js/autocomplete-productos :: javascript"></script>
</body>
</html>