<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/main :: head"></head>
<body>
    <header th:replace="layouts/main :: header"></header>

    <div class="container py-4">
        <div class="card">
            <div class="card-header" th:text="${titulo}"></div>

            <div class="card-body">
              <h4 class="card-title">
                <a th:href="@{'/ver/' + ${factura.cliente.id} }" class="btn btn-success my-2">&laquo; volver</a>
              </h4>

              <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Datos del cliente'"></li>
                <li class="list-group-item" th:text="${factura.cliente.getNombreCompleto}"></li>
                <li class="list-group-item" th:text="${factura.cliente.email}"></li>
              </ul>

              <hr>

              <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Datos de la factura'"></li>
                <li class="list-group-item" th:text="'Id: ' + ${factura.id}"></li>
                <li class="list-group-item" th:text="'Folio: ' + ${factura.folio}"></li>
                <li class="list-group-item" th:text="'Descripción: ' + ${factura.descripcion}"></li>
                <li class="list-group-item" th:text="'Fecha de creación: ' + ${factura.createdAt}"></li>
              </ul>

              <hr>

              <div 
                class="alert alert-info my-4" 
                th:if="${#lists.isEmpty(factura.itemsFactura)}"
                th:text="'No hay líneas para la factura' + ${factura.descripcion}"
                
                ></div>

              <table th:if="${not #lists.isEmpty(factura.itemsFactura)}" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="item : ${factura.itemsFactura}">
                        <td scope="row" th:text="${item.producto.nombre}"></td>
                        <td scope="row" th:text="${item.producto.precio}"></td>
                        <td scope="row" th:text="${item.cantidad}"></td>
                        <td scope="row" th:text="${item.calcularImporte()}"></td>
                    </tr>
                </tbody>

              </table>

              <h5 class="float-end">Gran Toal <span th:text="${factura.getTotal()}" class="badge bg-secondary"></span></h5>

            </div>
        </div>
    </div>

    <footer th:replace="layouts/main :: footer"></footer>
</body>
</html>